/*
    #e6e6e6
    #403b41
    #22aee2
    #f64089
    #d4cdf4
*/

/* Extra stuff */
@font-face
{
    font-family: glass;
    src: url(Docs/Text/Glass_Antiqua/GlassAntiqua-Regular.ttf);
}


mark
{
  background-color: #f64089;
  color: white;
}

u
{
    text-decoration: underline;
    text-decoration-color: #22aee2;
}

ul
{
    list-style-type: circle;
}

hr
{
    color: #e6e6e6;
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

p
{
    color: #22aee2;
}

/* "Global" format */
*
{
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #403b41;
}

p
{
    font-size: 19px;
}

body
{
    margin: 0;

    background-color: #403b41;
    background-image: url(Images/Homepage.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* body.header formats */
.header
{
    margin: 0;
    padding: 0;

    height: 100vh;
    width: calc(100vw - (100vw - 100%));
}

    /* body.header.p#head formats */
    #head
    {
        padding-top: 15vh;

        font-family: glass;
        font-size: 100px;
        color: #403b41;
        text-align: center;
    }

/* body.header formats */
.intro
{
    padding-top: 50px;

    display: flex;
    flex-wrap: wrap;


    font-size: 25px;
    line-height: 40px;
    color: #403b41;
}

    /* body.header.intro formats */
    .left-arm
    {
        padding-top: 25px;
        flex:40%;

        font-family: federant;
        text-align: right;
    }

    .center
    {
        flex:10%;
        text-align: center;
    }

    .right-arm
    {
        padding-top: 25px;
        flex:40%;

        font-family: federant;
        text-align: left;
    }


/* body.nav formats */
.nav
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #d4cdf4;
    z-index: 99;
}

ul.navbar-items
{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 70%;
}

ul.navbar-items li
{
    padding: 5px;
}


/* body.main-wrapper formats */
.main-wrapper
{
    display: flex;
    flex-wrap: wrap;
}

    /* main-wrapper.sidebar-ratings formats */
    .sidebar-ratings
    {
        padding: 5px;
        padding-top: 30px;

        flex: 15%;
        text-align: center;
        background-color: #e6e6e6;
    }

    /* main-wrapper.profile formats */
    .profile
    {
        padding: 30px;
        padding-left: 13vw;
        padding-right: 13vw;

        flex: 85%;
        text-align: left;
        background-color: #403b41;
        z-index: 95;
    }


/* body.projects formats */
.projects
{
    padding-top: 70px;
    padding-bottom: 40px;

    text-align: center;
    background-color: #d4cdf4;

    transform: scale(1);
    z-index: 95;
}

/* body.footer formats */
.footer
{
    display: flex;
    flex-wrap: wrap;
}


.footer-left
{
    margin: 0;
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 50px;

    text-align: right;
    flex: 50%;
    background-color: #d4cdf4;
}

ul.footer-left
{
    list-style-type: none;
}

.footer-right
{
    margin: 0;
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 50px;

    text-align: left;
    flex: 50%;
    background-color: #d4cdf4;
}

ul.footer-right
{
    list-style-type: none;
}
