head{
	margin: 0;
	padding: 0;
}

#background{
	height: 100vh;
	width: 100%;
	background-image: url(keyboard.png);
	background-size: cover;
	background-attachment: fixed;
}

#logback{
	background-color: #191970;
	background-size: cover;
	opacity: 0.8;
	width: 100%;
	height: 100vh;
}

#heading{
	font-family: Britannic Bold;
	font-size: 70px;
	color: #FFB6C1;
	position: absolute;
	top: 100px;
	left: 550px;
	width: 500px;
	height: 80px;
}

#lblEmp{
	font-family: Britannic Bold;
	font-size: 40px;
	color: #FFB6C1;
	position: absolute;
	top: 290px;
	left: 250px;
	width: 400px;
	height: 40px;
}

#tbEmp{
	font-family: Britannic Bold;
	font-size: 25px;
	color: black;
	border: none;
	position: absolute;
	top: 290px;
	left: 600px;
	width: 400px;
	height: 40px;
}

#lblPassword{
	font-family: Britannic Bold;
	font-size: 40px;
	color: #FFB6C1;
	position: absolute;
	top: 350px;
	left: 395px;
	width: 300px;
	height: 40px;
}

#tbPassword{
	font-family: Britannic Bold;
	font-size: 25px;
	color: black;
	border: none;
	position: absolute;
	top: 350px;
	left: 600px;
	width: 400px;
	height: 40px;
}

#btnSubmit{
	font-family: Britannic Bold;
	font-size: 25px;
	color: black;
	border: none;
	position: absolute;
	top: 450px;
	left: 450px;
	width: 200px;
	height: 40px;
}

#btnCancel{
	font-family: Britannic Bold;
	font-size: 25px;
	color: black;
	border: none;
	position: absolute;
	top: 450px;
	left: 700px;
	width: 200px;
	height: 40px;
}

#lblForget{
	font-family: Britannic Bold;
	font-size: 18px;
	color: #FFB6C1;
	position: absolute;
	top: 550px;
	left: 395px;
	width: 700px;
	height: 20px;
}