/*
    #e6e6e6
    #403b41
    #22aee2
    #f64089
    #d4cdf4
*/

/* Extra stuff */
mark
{
  background-color: #f64089;
  color: white;
}

u
{
    text-decoration: underline;
    text-decoration-color: #22aee2;
}

ul
{
    list-style-type: circle;
}

p
{
    color: #22aee2;
}


/* "Global" format */
*
{
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #403b41;
}

body
{
    margin: 0;

    background-color: #403b41;

    background-image: url(Images/Homepage.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* body.header formats */
.header
{
    margin: 0;
    padding: 0;

    height: 100vh;
    width:  100vw;

    text-align: center;
    color: #f64089;
}


/* body.nav formats */
.nav
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #d4cdf4;
}

ul.navbar-items
{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 70%;
}

ul.navbar-items li
{
    padding: 5px;
}


/* body.main-wrapper formats */
.main-wrapper
{
    display: flex;
    flex-wrap: wrap;
}

    /* main-wrapper.sidebar-ratings formats */
    .sidebar-ratings
    {
        padding: 40px;

        flex: 13%;
        text-align: center;
        background-color: #e6e6e6;
    }

    /* main-wrapper.profile formats */
    .profile
    {
        padding: 30px;
        padding-left: 200px;

        flex: 87%;
        text-align: left;
        background-color: white;
    }


/* body.projects formats */
.projects
{
    padding: 30px;
    padding-top: 70px;

    text-align: center;
    background-color: #403b41;
}


/* body.footer formats */
.footer
{
    display: flex;
    flex-wrap: wrap;
}


.footer-left
{
    margin: 0;
    padding: 8px;
    padding-top: 18px;
    padding-bottom: 18px;

    text-align: right;
    flex: 50%;
    background-color: #d4cdf4;
}

ul.footer-left
{
    list-style-type: none;
}

.footer-right
{
    margin: 0;
    padding: 8px;
    padding-top: 18px;
    padding-bottom: 18px;

    text-align: left;
    flex: 50%;
    background-color: #d4cdf4;
}

ul.footer-right
{
    list-style-type: none;
}
